body {
    font-family:Inter,  sans-serif; /* Семейство шрифтов */
    font-size: 11px; /* Размер основного шрифта в <p></p>  */
    background-color: #5988FF; /* Цвет фона веб-страницы */
    color: #FD98FB; /* Цвет основного текста */
}
h1 {
    color: #D6FF6B; /* Цвет заголовка */
    font-size: 33px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
    
}
p {
    color:aquamarine;
    font-size: 11px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
   
}

@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: blue;
    }
}

h1:hover {
    animation: color-change 3s infinite;
}